:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --mid-dark-blackish-gray: #8F9095;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-grayish-blue);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

img {
    border-radius: 50%;
}

section .main-container{
    width: 80%;
    position: relative;
}


section .main-container .sub-container .Dan-Jon{
    display: flex; 
    flex-direction: row; 
    
}  

/* **************Daniel Clifford section */

section .main-container .sub-container .Dan-Jon .Daniel-Clifford{
    flex-basis: 48%;
    background-color: var(--Moderate-violet);
    border-radius: 8px;
    position: relative;
    padding: 25px;
    margin-right: 20px;
    margin-bottom: 20px;

}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .svg-quote{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .quotation-svg{
    padding-left: 340px;
    opacity: 0.7;
    z-index: 1;
}


section .main-container .sub-container .Dan-Jon .Daniel-Clifford .dan-name{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .dan-name {
    padding-top: 35px;
    padding-left: 100px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .daniel{
    color: var(--Light-grayish-blue);
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .daniel-veri{
    color: var(--gray)
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .heading-p{ 
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .heading-p{
    padding: 80px 25px 25px 25px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .dan-heading{
    color: var(--White);
    padding-bottom: 20px;
}

section .main-container .sub-container .Dan-Jon .Daniel-Clifford .dan-p{
    color: var(--gray);
}


/*******************Jonathan Walters section *************************/

section .main-container .sub-container .Dan-Jon .Jonathan-Walters{
    position: relative;
    flex-basis: 24%;
    border-radius: 8px;
    padding: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--Very-dark-grayish-blue);

}

section .main-container .sub-container .Dan-Jon .Jonathan-Walters .jon-name{
    position: absolute;
    top: 35px;
    left: 100px;
}

section .main-container .sub-container .Dan-Jon .Jonathan-Walters .jonathan{
    color: var(--White)
}

section .main-container .sub-container .Dan-Jon .Jonathan-Walters .jonathan-veri{
    color: var(--gray)
}

section .main-container .sub-container .Dan-Jon .Jonathan-Walters .jonat-heading{
    color: var(--White);
    padding-bottom: 20px;
}

section .main-container .sub-container .Dan-Jon .Jonathan-Walters .jonat-p{
    color: var(--gray);
}

/********************* .jean-patrick *****************************/

section .main-container .sub-container .jean-patrick{
    display: flex;
    flex-direction: row;

}

/******************* Jeanette Harmon section *************************/

section .main-container .sub-container .jean-patrick .Jeanette-Harmon{
    position: relative;
    flex-basis: 24%;
    border-radius: 8px;
    padding: 25px 25px 25px 25px;
    margin-right: 20px;
    background-color: var(--White);
}

section .main-container .sub-container .jean-patrick .Jeanette-Harmon .jean-name{
    position: absolute;
    top: 35px;
    left: 100px;

}

section .main-container .sub-container .jean-patrick .Jeanette-Harmon .jeanette{
    color: var(--Very-dark-grayish-blue)
}

section .main-container .sub-container .jean-patrick .Jeanette-Harmon .jeanette-veri{
    color: var(--mid-dark-blackish-gray);
}

section .main-container .sub-container .jean-patrick .Jeanette-Harmon .jean-heading{
    color: var(--Very-dark-blackish-blue);
    padding-bottom: 20px;
}

section .main-container .sub-container .jean-patrick .Jeanette-Harmon .jean-p{
    color: var(--mid-dark-blackish-gray)
}

/************************ Patrick Abrams section ************************/

section .main-container .sub-container .jean-patrick .Patrick-Abrams{
    position: relative;
    flex-basis: 48%;
    border-radius: 8px;
    padding: 25px;
    margin-right: 20px;
    background-color: var(--Very-dark-blackish-blue);
}

section .main-container .sub-container .jean-patrick .Patrick-Abrams .pat-name{
    position: absolute;
    top: 35px;
    left: 100px;
}

section .main-container .sub-container .jean-patrick .Patrick-Abrams .patrick{
    color: var(--Light-grayish-blue);
}

section .main-container .sub-container .jean-patrick .Patrick-Abrams .patrick-veri{
    color: var(--gray);
}

section .main-container .sub-container .jean-patrick .Patrick-Abrams .pat-heading{
    color: var(--White);
    padding-bottom: 20px;
}

section .main-container .sub-container .jean-patrick .Patrick-Abrams .pat-p{
    color: var(--gray);
}

/**********************Kira Whittle section *********************************/

section .main-container .Kir-Whittle{
    position: absolute;
    top: 0px;
    left: 76%;
    padding: 25px 55px 25px 25px;
    border-radius: 8px;
    background-color: var(--White);

}

section .main-container .Kir-Whittle .kira-name{
    position: absolute;
    top: 35px;
    left: 100px;
}

section .main-container .Kir-Whittle .kira{
    color: var(--Very-dark-grayish-blue);
}

section .main-container .Kir-Whittle .kira-veri{
    color: var(--mid-dark-blackish-gray);
}

section .main-container .Kir-Whittle .kira-heading{
    color: var(--Very-dark-blackish-blue);
    padding-bottom: 30px;
}

section .main-container .Kir-Whittle .kira-p{
    color: var(--mid-dark-blackish-gray);
}

/***************** mobile responsiveness *********************/

@media screen and (max-width: 375px){

    section {
        height: 340vh;
    }
    
    section .main-container {
        width: 95%;
        margin-left: auto;
    }

   section .main-container .sub-container .Dan-Jon {
        display: flex;
        flex-direction: column;
        

    }

    /*section .main-container .sub-container .Dan-Jon .Daniel-Clifford{
        margin: 0px;
    }*/

    section .main-container .sub-container .Dan-Jon .Daniel-Clifford .heading-p{
        position: relative;
        margin: 0px;
    }

    section .main-container .sub-container .Dan-Jon .Daniel-Clifford .heading-p{
        padding: 0px;
    }

    section .main-container .sub-container .Dan-Jon .Daniel-Clifford .quotation-svg {
        padding-left: 200px;
    }

    section .main-container .sub-container .jean-patrick {
        display: flex;
        flex-direction: column;

    }

    section .main-container .sub-container .jean-patrick .Jeanette-Harmon {
        margin-bottom: 20px;
    }

section .main-container .sub-container .jean-patrick .Patrick-Abrams{
    margin-bottom: 20px;
}


    section .main-container .Kir-Whittle {
        position:relative;
        width:94%;
        top: 0px;
        left: 0px;
        padding: 25px;
    }

}


@media screen and (max-width: 320px){
    section .main-container .sub-container .Dan-Jon .Daniel-Clifford .quotation-svg {
        padding-left: 160px;
    }
}
